* {
    color: azure;
}

#card-grid img {
    /* border: 1px black solid; */
    /* margin: 1px; */
    height: 175px;
    width: 125px;
}

/* body {
    height: 90vh;
} */

/* #button-grid {
    border: solid 2px black;
    grid-area: button;
    margin-top: 30px;
    display: grid;
    justify-content: center;
} */

/* #button-grid label{
    font-size: 20px;
} */

#higher, #lower, #change {
    color: black;
    background-color: lightgray;
    border: black 1px solid;
    border-radius: 10px;
    font-size: 16px;
} 

#higher:hover, #lower:hover, #change:hover {
    font-weight: bold;
    background-color: lightblue;
} 

#bet {
    color: black
}

#main-board {
    grid-area: board;
    text-align: center;
}

#card-grid {
    /* border: black 1px solid; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top" 
    "middle"
    "bottom";
    justify-items: center;
}

#bottom-row {
    grid-area: bottom;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: 
    "change1 . starter card1 card2 card3"; */
}

#messages-grid p {
    font-size: 20px;
}


#middle-row {
    grid-area: middle;
    display: flex;
}

#top-row {
    grid-area: top;
    display: flex;
}

#bank-text {
    font-size: 30px;
}
div {
    margin: 1px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 175px;
    width: 125px;
    border: 2px azure solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#title {
    width: 260px;
    height: 175px;
    margin: 1px;
    margin-left: 5px;
    border: 2px azure solid;
    font-size: 50px;
}

.change-card {
    /* margin-right:  150px; */
    margin-right: 5vw;
}

#button-grid {
    /* border: solid 2px black; */
    grid-area: button;
    /* margin-top: 20px; */
    justify-content: center;
    /* margin-bottom: 25px; */
    display: grid;
    height: 350px;
    margin-top: -20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.9fr 0.5fr;
    grid-template-areas: 
    "bet-label bet-label bet-label"
    "bet bet bet"
    "higher lower change"
    "bet-message bet-message bet-message";
}

#higher {
    grid-area: higher;
}

#lower {
    grid-area: lower;
}

#change {
    grid-area: change;
}

#bet {
    grid-area: bet;
    font-size: 20px;
    border-radius: 10px;
}

#bet-label, #bet {
    height: auto;
}

#bet-label {
    grid-area: bet-label;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: -15px;
    /* margin-top: -20px; */
}

/* #higher, #lower, #change {
    height: 100%;
    margin: 0;
    width: auto;
    margin-top: 0;
} */

#bet-message {
    grid-area: bet-message;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 4px;
    padding: 2px;
    font-size: 20px;
}

#game-board {
    background: linear-gradient(rgb(28, 162, 28), green);
    border: gold solid 20px;
    border-radius: 100px;
    padding: 25px;
    display: grid;
    height: 100vh;
    min-height: 750px;
    max-height: 750px;
    min-width: 700px;
    grid-template-columns: 1.8fr 0.2fr;
    grid-template-areas: 
    "board button"
    "board score";
}

#score-table {
    grid-area: score;
    background-color: azure;
    text-align: center;
    border: black solid 10px;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: -150px;
    /* padding: 125px; */
    border-radius: 25px;
    width: 20vw;
    
}

#score-table td {
    color: black;
    font-size: 16px;
}

#score-table th {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

body {
    background-color: aqua;
}

@media only screen and (max-width: 1152px) {
    #game-board {
        display: grid;
        height: 1300px;
        max-height: 10000px;
        grid-template-columns: 1fr;
        align-items: center;
        grid-template-areas: 
        "board" 
        "bet"
        "score";
    }

    #main-board {
        grid-area: board;
        text-align: center;
    }

    #score-table {
        grid-area: score;
        margin: 0;
        margin-top: -170px;
        width: 100%
    }

    #button-grid {
        /* margin-bottom: 25px; */
        grid-area: bet;
        display: grid;
        /* margin-top: 20px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "bet-label bet bet"
        "higher lower change"
        "bet-message bet-message bet-message";
    }

    #higher {
        grid-area: higher;
    }

    #lower {
        grid-area: lower;
    }

    #change {
        grid-area: change;
    }

    #bet {
        grid-area: bet;
        font-size: 20px;
    }

    #bet-label, #bet {
        height: 50px;
        margin-bottom: -30px;
        /* margin-top: -15px; */
    }

    #bet-label {
        grid-area: bet-label;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-top: 0px;
    }

    #higher, #lower, #change {
        height: 50px;
        margin-top: -15px;
        width: 100%;
    }

    #bet-message {
        grid-area: bet-message;
        margin-top: 15px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    
}




