#card-grid img {
    /* border: 1px black solid; */
    /* margin: 1px; */
    height: 175px;
    width: 125px;
}

/* body {
    height: 90vh;
} */

#button-grid {
    border: solid 2px black;
    grid-area: bet;
    margin-top: 30px;
    display: grid;
    justify-content: center;
}

#main-board {
    grid-area: board;
    
    text-align: center;
}

#card-grid {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top" 
    "middle"
    "bottom";
    justify-items: center;
}

#bottom-row {
    grid-area: bottom;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: 
    "change1 . starter card1 card2 card3"; */
}


#middle-row {
    grid-area: middle;
    display: flex;
}

#top-row {
    grid-area: top;
    display: flex;
}


div {
    margin: 1px;
    height: 175px;
    width: 125px;
    border: 2px black solid;
}

#title {
    width: 255px;
    height: 175px;
    margin: 1px;
    border: 2px black solid;
}

.change-card {
    /* margin-right:  150px; */
    margin-right: 5vw;
}

#bet-message {
    display: flex;
    justify-content: center;
    color: red;
}

#game-board {
    background-color: green;
    border: gold solid 20px;
    border-radius: 100px;
    padding: 25px;
    display: grid;
    height: 100vh;
    min-height: 700px;
    max-height: 750px;
    min-width: 700px;
    /* width: 100vw; */
    grid-template-columns: 1.8fr 0.2fr;
    grid-template-areas: 
    "board bet"
    "board score";
}

#score-table {
    grid-area: score;
    background-color: azure;
    text-align: center;
    border: black solid 10px;
    margin: 10px;
    /* padding: 125px; */
    border-radius: 25px;
    width: 20vw;
}

body {
    background-color: aqua;
}




